:root {
    --header-list-color: #212121;
    --accent-color: #2196f3;
    --paragraf-tex-color: #757575;
    --bac-tex-color: #ffffff;
    --bac-hero-color: #2f303a;
    --logo-web-color: #000000;
    --bac-our-color: #f5f4fa;
    --focus-btn-color: #188ce8;
    --footer-linc-color: #ffffff99;
    --gradient:linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4))
    }

