.menu__open {
    display: flex;
    border: transparent;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width:768px) {
        display: none;
    }

    @media screen and (min-width:1200px) {
        display: none;
    }
}

.mob__menu {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    top: 0;
    position: fixed;
    z-index: 1;
    padding-top: 48px;
    padding-bottom: 48px;
    >.mob__menu-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
    transform: translateX(100%);
    @media screen and (min-width:768px) {
        display: none;
    }
        @media screen and (min-width:1200px) {
            display: none;
        }
                
}

.mob__menu.is-open {
    transform: translateX(0);
}

.mob__menu-container {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}

.menu__close {
    border: transparent;
    background-color: transparent;
    margin-left: auto;
    display: block;
    margin-bottom: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob__close-icon:hover,
.mob__close-icon:focus {
    fill: var(--focus-btn-color);
    ;
}

.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    &.current {
            color: var(--accent-color);
        }
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mob-contakt-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-contakt-list {
    margin-bottom: 64px;
}

.mob-soc-list {
    display: flex;
    gap: 20px;
    position: relative;
}

.linne::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    width: 22px;
    bottom: 11px;
}

.mob-soc-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-contakt-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-contakt-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--paragraf-tex-color);
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: #2196F3;
}